<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a [routerLink]="['/home']" class="my-0 mr-md-auto navbar-brand">Dating App</a>

  <nav class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn()">
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/members']">Matchs</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
      <li class="nav-item">
        <div>
          <div class="d-inline-block ml-3 mr-1">
            <img src="{{photoUrl}}" alt="">
          </div>
          <div class="d-inline-block dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle>
                Welcome {{authService.decodedToken.unique_name | titlecase}}
            </a>
            <div class="dropdown-menu mt-1" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn()">
      <li class="nav-item mr-3">
        <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
          <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
          <button class="btn btn-outline-secondary text-light" type="submit" [disabled]="!loginForm.valid">Sign in</button>
        </form>
      </li>
    </ul>
  </nav>
</div>

<!--
<h5 class="my-0 mr-md-auto"><a class="nav-link active navbar-brand" href="/">Dating App</a></h5>

<nav class="my-2 my-md-0 mr-md-3" *ngIf="isLoggedIn()" >
  <a class="p-2 text-white" href="#">Matchs</a>
  <a class="p-2 text-white" href="#">Lists</a>
  <a class="p-2 text-white" href="#">Messages</a>
</nav>

<div *ngIf="isLoggedIn()" class="dropdown" dropdown>
    <a class="dropdown-toggle" dropdownToggle>
      Welcome {{authService.decodedToken.unique_name | titlecase}}
    </a>
  
    <div class="dropdown-menu mt-2" *dropdownMenu>
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>

  <div class="mr-3">
    <form *ngIf="!isLoggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
      <button class="btn btn-outline-primary" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    </form>
  </div>
-->